@{
    Layout = "_Layout";
}

@model Bakery.Models.Sweet

<h2>Sweet Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.SweetName):</h3>
<h4>@Html.DisplayFor(model => model.SweetName)</h4>

@if(@Model.Flavors.Count == 0)
{
    <p>This sweet does not have any corresponding flavors.</p>
    <hr />
}
else
{
    <h3>Correponding Flavors:</h3>
    <ul>
        @foreach(var join in Model.Flavors)
        {
            <div class="form-group">
                <li><h4>@join.Flavor.FlavorName</h4></li>
            </div>
            @using (Html.BeginForm("DeleteJoin", "Flavors"))
            {
                @Html.Hidden("joinId", @join.FlavorSweetId)
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default"/>
                </div>
            }
        }
    </ul>
}
<h3>@Html.ActionLink("Sweets Home", "Index") || @Html.ActionLink("Edit Sweet", "Edit", new { id = Model.SweetId }) || @Html.ActionLink("Link a Corresponding Flavor", "AddFlavor", new { id = Model.SweetId }) || @Html.ActionLink("Delete Sweet", "Delete", new { id = Model.SweetId })</h3>