@{
    Layout = "_Layout";
}

@model Bakery.Models.Sweet

<h2>Edit</h2>
<hr />
<h4>Edit this sweet: @Html.DisplayFor(model => model.SweetName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SweetId)
    <div class="form-group">
        @Html.LabelFor(model => model.SweetName)
        @Html.TextBoxFor(model => model.SweetName)
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default">
    </div>
}

<h3>@Html.ActionLink("Show all sweets", "Index", "Sweets")</h3>