@{
    Layout ="_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

<h2>Add a Sweet to a Corresponding Flavor: @Html.DisplayFor(model => model.FlavorName)</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)
    <div class="form-group">
        @Html.Label("Select Sweet:")
        @Html.DropDownList("SweetId", "- none -")
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default">
    </div>
}

<h3>@Html.ActionLink("Back to flavor details", "Details", new { id = Model.FlavorId })</h3>