@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Edit</h2>
<hr />
<h4> Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)
    <div class="form-group">
        @Html.LabelFor(model => model.FlavorName)
        @Html.TextBoxFor(model => model.FlavorName)
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default">
    </div>
}

<h3>@Html.ActionLink("Show all flavors", "Index", "Flavors")</h3>